<h1><%= @hashtag.title %></h1>


<div class="row">
	<% @hashtag.posts.each do |post| %>
		<div class="col-md-4">
		<%= image_tag post.picture.url(:medium), class: 'uploaded-picture' %>
		</div>
	<% end %>
</div>