<div class="jumbotron">
	<div class="container">
     <h1>Welcome to Instagram</h1>
     <p class="lead">This is the landing page. This is not the posts page, where you can see actual photos. You need to sign up or login for that.</p>
     <p> <a class="btn btn-lg btn-success" <%= link_to "Sign Up", new_user_registration_path%> </a> 
     	<a class="btn btn-lg btn-success" <%= link_to "Login", new_user_session_path%> </a> </p>
     </div>
</div>

<%= link_to "Sign Up", new_user_registration_path%> |
<%= link_to "Login", new_user_session_path %>