<div class="jumbotron">
     <h1>Welcome to Instagram</h1>
     <p class="lead">This is the index page, which is basically the homepage. This is not the posts page, where you can see actual photos. You need to sign up for that.</p>
     <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<%= link_to "Sign Up", new_user_registration_path%> |
<%= link_to "Login", new_user_session_path %>