<h1>Posts Page</h1>
 
 <% if @posts.any? %>
  	<ul>
 	<% @posts.each do |post| %>
	 		<li> <%= post.caption %> </li>
	 	<%end%>
	 	</ul>

<%else%>
	<p>There are no posts yet</p>
<%end%>

<%= link_to 'Edit profile', edit_user_registration_path%>
<%= link_to "Logout", destroy_user_session_path, method: :delete%>

