/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.landing_page .jumbotron{
	background: image-url('insta_collage.png');
}

.all-posts .panel {
	background-color: rgb(221,222,223);
	padding: 20px 32px;
	border-style: solid;
	border-width: 1.9px;
	border-color: rgb(195,196,197);
}

.col-md-2 {
	color: #3f729b;
	style: bold;
}


body {
	background-color: rgb(237,238,239);
}

.jumbotron .container h1 {
	opacity: 1.0;
}

.jumbotron .container .btn.btn-default {
	opacity: 1.0;
}

.jumbotron .container .btn.btn-primary {
	opacity: 1.0;
}

.jumbotron {
	background: image-url('blue.png');
}

.jumbotron .container {
	background: rgba(255, 255, 255, 0.90);
	opacity: 0.90;
	padding: 30px 50px;
	border-radius: 25px;
	box-shadow: 5px 10px 10px #0A4C62;
}






